@page "/Adminpanel"
@using trashtracker1.Components.HelperServices.API
@using trashtracker1.Components.HelperServices.API.Dto
@using Microsoft.AspNetCore.Components.Forms
@inject trashtracker1.Components.HelperServices.API.ApiClient ApiClient
<div class="h-[78vh]">
    <div class="bg-white flex text-sm h-full">
        @*Sidebar*@
        <div class="w-50 bg-white flex flex-col justify-between py-3 pt-8 px-1 space-y-2 h-full shadow-[8px_0px_20px_-5px_rgba(0,0,0,0.08)]">
            <div class="space-y-2">
                <button class="w-full bg-gray-200 rounded px-2 py-1 hover:bg-gray-300">Gebruikers</button>
                <button class="w-full bg-gray-200 rounded px-2 py-1 hover:bg-gray-300">Handleiding</button>
            </div>
            <div class="mt-auto">
                <button class="w-full bg-gray-200 rounded px-2 py-1 hover:bg-gray-300">Uitloggen</button>
            </div>
        </div>

        @*Main content*@
        <div class="flex-1 p-8 h-full">
            <div class="bg-gray-100 w-full rounded-xl p-10 h-full flex flex-col space-y-4">
                @*Forms row*@
                <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
                    @*Add User*@
                    <EditForm Model="@creatingUser" OnValidSubmit="@SaveUser" FormName="CreateUserForm">
                        <DataAnnotationsValidator />
                        <div class="bg-white p-3 rounded-lg shadow-xl flex flex-col h-full">
                            <h2 class="text-center font-medium mb-8">Gebruiker toevoegen</h2>

                            <div class="grid grid-cols-2 gap-4 mb-4">
                                <InputText @bind-Value="creatingUser.FirstName" placeholder="Voornaam" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                                <InputText @bind-Value="creatingUser.LastName" placeholder="Achternaam" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                            </div>
                            <div class="grid grid-cols-2 gap-4 mb-4">
                            <InputText @bind-Value="creatingUser.Email" placeholder="Email" type="email" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                                <InputText @bind-Value="creatingUser.Username" placeholder="Gebruikersnaam" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                            </div>
                            <div class="grid grid-cols-2 gap-4 mb-4">
                                <InputText @bind-Value="creatingUser.Password" placeholder="Wachtwoord" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                                <InputText @bind-Value="creatingUser.AdminRole" placeholder="Admin Rol" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                            </div>

                            <div class="grid grid-cols-2 gap-4 mb-1">
                                <div></div>
                                <button type="submit" class="w-full bg-gray-100 border border-gray-300 rounded px-2 py-1 hover:bg-gray-300">
                                    opslaan
                                </button>
                            </div>
                        </div>
                    </EditForm>

                    @*Edit User*@
                    <EditForm Model="@edittingUser" OnValidSubmit="@EditUser" FormName="EditUserForm">
                        <DataAnnotationsValidator />
                        <div class="bg-white p-3 rounded-lg shadow-xl flex flex-col h-full">
                            <h2 class="text-center font-medium mb-8">Gebruiker </h2>

                            <div class="grid grid-cols-2 gap-4 mb-4">
                                <InputText @bind-Value="edittingUser.FirstName" placeholder="Voornaam" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                                <InputText @bind-Value="edittingUser.LastName" placeholder="Achternaam" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                            </div>
                            <div class="grid grid-cols-2 gap-4 mb-4">
                                <InputText @bind-Value="edittingUser.Email" placeholder="Email" type="email" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                                <InputText @bind-Value="edittingUser.Username" placeholder="Gebruikersnaam" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                            </div>
                            <div class="grid grid-cols-2 gap-4 mb-4">
                                <InputText @bind-Value="edittingUser.Password" placeholder="Wachtwoord" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                                <InputText @bind-Value="edittingUser.AdminRole" placeholder="Admin Rol" class="w-full border border-gray-300 rounded bg-gray-100 px-2 py-1 text-xs text-gray-700 text-center focus:outline-none focus:ring-1 focus:ring-red-400" />
                            </div>

                            <div class="grid grid-cols-2 gap-4 mb-1">
                                <div></div>
                                <button type="submit" class="w-full bg-gray-100 border border-gray-300 rounded px-2 py-1 hover:bg-gray-300">
                                    opslaan
                                </button>
                            </div>
                        </div>
                    </EditForm>
                </div>
                @*User List*@
                <div class="bg-white p-3 rounded-lg shadow-xl flex-1 overflow-y-auto">
                    <h2 class="mb-2 font-medium">Gebruikers</h2>
                    <div class="h-32 overflow-y-auto border rounded p-2 text-gray-700 text-xs">
                            @if (Users != null && Users.Any())
                            {
                                @foreach (var User in Users)
                                {
                                    <p>@User.Username</p>
                                }
                            }
                            else
                            {
                            <p>Geen gebruikers gevonden...</p>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    List<UserDto> Users;
    private UserCreateDto creatingUser = new();
    private UserCreateDto edittingUser = new();

    private async Task SaveUser()
    {
        await ApiClient.RegisterNewUser(creatingUser);
    }
    private async Task EditUser()
    {

    }
}
